In [50]:
import pandas as pd
df = pd.read_csv('dataset_Facebook.csv')

In [51]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100,139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164,139441;Status;2;12;3;10;0;10460;19057;1457;136...
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80,139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777,139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393,139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [67]:
cols_to_convert = ["Paid","Lifetime Post Total Reach", "Lifetime Engaged Users", "Lifetime Post Consumers",
                   "Lifetime Post Consumptions", "Lifetime Post Impressions by people who have liked your Page",
                   "Lifetime Post reach by people who like your Page", "Lifetime People who have liked your Page and engaged with your post",
                   "comment", "like", "share", "Total Interactions"]

df[cols_to_convert] = df[cols_to_convert].astype(float)

In [68]:
df.to_csv("converted_data.csv", index=False)

In [69]:
df.shape

(500, 20)

In [71]:
df.head

<bound method NDFrame.head of      Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          11             4          3
1              139441  Status         2          11             3         10
2              139441   Photo         3          11             3          3
3              139441   Photo         2          11             2         10
4              139441   Photo         2          11             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           0             7          2
496             81370   Photo         2           0             5          8
497             81370   Photo         1           0             5          2
498             81370   Photo         3           0             4         11
499             81370   Photo         2           0             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                  -0.490859                             5091
1     0.0                  -0.151569                            19057
2     0.0                  -0.505781                             4373
3     1.0                   1.594532                            87991
4     0.0                  -0.293131                            13594
..    ...                        ...                              ...
495   0.0                  -0.405817                             7536
496   0.0                  -0.458814                             6229
497   0.0                  -0.445697                             7216
498   0.0                  -0.429058                             7564
499   NaN                  -0.427650                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                 -0.754391                    109.0
1                  0.545365                   1361.0
2                 -0.755407                    113.0
3                  1.311601                    790.0
4                 -0.253390                    410.0
..                      ...                      ...
495               -0.190384                    708.0
496               -0.389565                    508.0
497               -0.300137                    572.0
498               -0.299121                    574.0
499               -0.362127                    524.0

     Lifetime Post Consumptions  \
0                         159.0
1                        1674.0
2                         154.0
3                        1119.0
4                         580.0
..                          ...
495                       985.0
496                       687.0
497                       795.0
498                       832.0
499                       743.0

     Lifetime Post Impressions by people who have liked your Page  \
0                                               3078.0
1                                              11710.0
2                                               2812.0
3                                              61027.0
4                                               6228.0
..                                                 ...
495                                             4750.0
496                                             3961.0
497                                             4742.0
498                                             4534.0
499                                             3861.0

     Lifetime Post reach by people who like your Page  \
0                                              1640.0
1                                              6112.0
2                                              1503.0
3                                             32048.0
4                                              3200.0
..                                                ...
495                                            2876.0
496                                            2104.0
497                                            2388.0
498                                            2452.0
499                                            2200.0

     Lifetime People who have liked your Page and engaged with your post  \
0                                                119.0
1                                               1108.0
2                                                132.0
3                                               1386.0
4                                                396.0
..                                                 ...
495                                              392.0
496                                              301.0
497                                              363.0
498                                              370.0
499                                              316.0

     comment    like  share  Total Interactions  \
0        4.0    79.0   17.0               100.0
1        5.0   130.0   29.0               164.0
2        0.0    66.0   14.0                80.0
3       58.0  1572.0  147.0              1777.0
4       19.0   325.0   49.0               393.0
..       ...     ...    ...                 ...
495      5.0    53.0   26.0                84.0
496      0.0    53.0   22.0                75.0
497      4.0    93.0   18.0               115.0
498      7.0    91.0   38.0               136.0
499      0.0    91.0   28.0               119.0

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 20 columns]>

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 20 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                             --------------  -----
 0   Page total likes                                                                                                                                                                                                                                                                                                                                                                                                                   500 non-null    int64
 1   Type                                                                                                                                                                                                                                                                                                                                                                                                                               500 non-null    object
 2   Category                                                                                                                                                                                                                                                                                                                                                                                                                           500 non-null    int64
 3   Post Month                                                                                                                                                                                                                                                                                                                                                                                                                         500 non-null    int64
 4   Post Weekday                                                                                                                                                                                                                                                                                                                                                                                                                       500 non-null    int64
 5   Post Hour                                                                                                                                                                                                                                                                                                                                                                                                                          500 non-null    int64
 6   Paid                                                                                                                                                                                                                                                                                                                                                                                                                               499 non-null    float64
 7   Lifetime Post Total Reach                                                                                                                                                                                                                                                                                                                                                                                                          500 non-null    float64
 8   Lifetime Post Total Impressions                                                                                                                                                                                                                                                                                                                                                                                                    500 non-null    int64
 9   Lifetime Engaged Users                                                                                                                                                                                                                                                                                                                                                                                                             500 non-null    float64
 10  Lifetime Post Consumers                                                                                                                                                                                                                                                                                                                                                                                                            500 non-null    float64
 11  Lifetime Post Consumptions                                                                                                                                                                                                                                                                                                                                                                                                         500 non-null    float64
 12  Lifetime Post Impressions by people who have liked your Page                                                                                                                                                                                                                                                                                                                                                                       500 non-null    float64
 13  Lifetime Post reach by people who like your Page                                                                                                                                                                                                                                                                                                                                                                                   500 non-null    float64
 14  Lifetime People who have liked your Page and engaged with your post                                                                                                                                                                                                                                                                                                                                                                500 non-null    float64
 15  comment                                                                                                                                                                                                                                                                                                                                                                                                                            500 non-null    float64
 16  like                                                                                                                                                                                                                                                                                                                                                                                                                               499 non-null    float64
 17  share                                                                                                                                                                                                                                                                                                                                                                                                                              496 non-null    float64
 18  Total Interactions                                                                                                                                                                                                                                                                                                                                                                                                                 500 non-null    float64
 19  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions  500 non-null    object
dtypes: float64(12), int64(6), object(2)
memory usage: 78.2+ KB

In [73]:
df.shape

(500, 20)

In [74]:
df.isnull()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False

In [75]:
df.isnull().sum()

Page total likes                                                                                                                                                                                                                                                                                                                                                                                                                     0
Type                                                                                                                                                                                                                                                                                                                                                                                                                                 0
Category                                                                                                                                                                                                                                                                                                                                                                                                                             0
Post Month                                                                                                                                                                                                                                                                                                                                                                                                                           0
Post Weekday                                                                                                                                                                                                                                                                                                                                                                                                                         0
Post Hour                                                                                                                                                                                                                                                                                                                                                                                                                            0
Paid                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Lifetime Post Total Reach                                                                                                                                                                                                                                                                                                                                                                                                            0
Lifetime Post Total Impressions                                                                                                                                                                                                                                                                                                                                                                                                      0
Lifetime Engaged Users                                                                                                                                                                                                                                                                                                                                                                                                               0
Lifetime Post Consumers                                                                                                                                                                                                                                                                                                                                                                                                              0
Lifetime Post Consumptions                                                                                                                                                                                                                                                                                                                                                                                                           0
Lifetime Post Impressions by people who have liked your Page                                                                                                                                                                                                                                                                                                                                                                         0
Lifetime Post reach by people who like your Page                                                                                                                                                                                                                                                                                                                                                                                     0
Lifetime People who have liked your Page and engaged with your post                                                                                                                                                                                                                                                                                                                                                                  0
comment                                                                                                                                                                                                                                                                                                                                                                                                                              0
like                                                                                                                                                                                                                                                                                                                                                                                                                                 1
share                                                                                                                                                                                                                                                                                                                                                                                                                                4
Total Interactions                                                                                                                                                                                                                                                                                                                                                                                                                   0
Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions    0
dtype: int64

In [76]:
# Use LabelEncoder or OneHotEncoder from sklearn library
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Post Month'] = le.fit_transform(df['Post Month'])

In [77]:
# Use StandardScaler from sklearn library
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[['Lifetime Post Total Reach', 'Lifetime Engaged Users']])
df[['Lifetime Post Total Reach', 'Lifetime Engaged Users']] = scaled_data

In [78]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
# Split the data into features (X) and target variable (y)
X = df.drop(['Post Month'], axis=1)
 # Replace 'target_variable' with the name of your target variable
y = df['Post Month']

# Split the data into training and testing sets (use 80% for training and 20% for testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
print('Decision Tree Accuracy: ', accuracy_score(y_test, y_pred_dt))
print(confusion_matrix(y_test, y_pred_dt))
print(classification_report(y_test, y_pred_dt))

In [79]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

rf = RandomForestClassifier(n_estimators=100, random_state=0)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
print('Random Forest Accuracy: ', accuracy_score(y_test, y_pred_rf))
print(confusion_matrix(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

In [ ]:

# SVM
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

svm = SVC(kernel='linear', random_state=0)
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
print('SVM Accuracy: ', accuracy_score(y_test, y_pred_svm))
print(confusion_matrix(y_test, y_pred_svm))
print(classification_report(y_test, y_pred_svm))

In [81]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Category', axis=1), df['Category'], test_size=0.2, random_state=42)

In [82]:
# define the hyperparameters to tune
hyperparameters = {'penalty': ['l1', 'l2'], 'C': [0.001, 0.01, 0.1, 1, 10, 100]}

In [83]:
# create a logistic regression model
model = LogisticRegression()

In [86]:
# use GridSearchCV to search for the best hyperparameters
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score
gridsearch = GridSearchCV(model, hyperparameters, cv=5)
gridsearch.fit(X_train, y_train)

In [86]:
print('Best hyperparameters:', gridsearch.best_params_)
print('Accuracy:', accuracy_score(y_test, gridsearch.predict(X_test)))